/* Настройка этикетки (контейнера)*/
.container-checkbox-primary {
  display: block;
  position: relative;
  padding-top: 2px;
  margin-top: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
[device='d'] {
  .container-checkbox-primary {
    padding-left: 43px;
  }
}
[device='t'] {
  .container-checkbox-primary {
    padding-left: 55px;
  }
}
[device='m'] {
  .container-checkbox-primary {
    padding-left: 78px;
  }
}

/* Скрыть переключатель браузера по умолчанию */
.container-checkbox-primary .checkbox-primary {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}
/* Создайте пользовательский переключатель */
.span-checkbox-primary {
  position: absolute;
  top: 0;
  border: 2px solid var(--platinum);
  border-radius: 1px;
}
[device='d'] {
  .span-checkbox-primary {
    left: 0;
    height: 35px;
    width: 35px;
  }
}
[device='t'] {
  .span-checkbox-primary {
    left: 0;
    height: 37px;
    width: 37px;
  }
}
[device='m'] {
  .span-checkbox-primary {
    left: 20px;
    background-color: var(--white);
    height: 37px;
    width: 37px;
  }
}

/* При наведении курсора мыши добавьте фона */
.container-checkbox-primary:hover .checkbox-primary ~ .span-checkbox-primary {
  border-color: var(--granite);
}
/* Когда переключатель установлен, добавьте фон */
.container-checkbox-primary .checkbox-primary:checked ~ .span-checkbox-primary {
  border-color: var(--purple-red);
}
/* Создайте индикатор (точка/кружок - скрыт, если флажок не установлен). */
.span-checkbox-primary:after {
  content: '';
  position: absolute;
  display: none;
}
/* Показывать индикатор (точка/кружок), когда он установлен */
.container-checkbox-primary .checkbox-primary:checked ~ .span-checkbox-primary:after {
  display: block;
}
/* Стилизуйте индикатор (точка/круг) */
.container-checkbox-primary .span-checkbox-primary:after {
  left: 11px;
  top: 3px;
  width: 10px;
  height: 20px;
  border: solid var(--purple-red);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
