.input-primary {
  text-indent: 5%;
  border: 2px solid var(--platinum);
  border-radius: 1px;
  outline: none;
  &:hover {
    border-color: var(--granite);
  }
  &:active {
    border-color: var(--purple-red);
  }
}
[device='d'] {
  .input-primary {
    text-indent: 5%;
  }
}
[device='t'] {
  .input-primary {
    text-indent: 3%;
  }
}
[device='m'] {
  .input-primary {
    text-indent: 6%;
  }
}
