.btn-primary {
  color: var(--white);
  border: 3px solid var(--white);
  border-radius: 30px;
  &:hover {
    color: var(--purple-red);
    background-color: var(--white);
  }
  &:active {
    opacity: 30%;
    background-color: var(--white);
  }
}
.btn-secondary {
  border: 3px solid var(--granite10);
  border-radius: 55px;
  width: 53px;
  height: 53px;
  &:hover {
    border-color: var(--granite);
  }
  &:active {
    opacity: 10%;
  }
}
