*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
svg {
  cursor: pointer;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
input[type='submit'] {
  border: none;
  cursor: pointer;
}
