:root {
  --black: #000000;
  --sapphire-blue: #1d2631;
  --granite: #283645;
  --granite10: rgb(38, 53, 69, 0.1);
  --dim-granite: #374a5e;
  --liver: #554e4e;
  --platinum: #e5e5e5;
  --smoky-white: #f2f2f2;
  --white: #ffffff;
  --purple-red: #d22856;
  --green-jungle: #2aab6d;
  --green-crayola: #1c9b5e;

  @font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  }
}
